@font-face {
  font-family: 'PF-font'
  src: url('./fonts/Impact.eot'), url('./fonts/Impact.ttf')  format('truetype')
}

@font-face {
  font-family: 'handwrite'
  src: url('./fonts/BradleyHandBold.eot'), url('./fonts/BradleyHandBold.ttf')  format('truetype')
}

@font-face {
  font-family: 'all'
  src: url('./fonts/HelveticaNeueLTCom-LtCn_0.eot'), url('./fonts/HelveticaNeueLTCom-LtCn_0.ttf')  format('truetype')
}

.font-handwrite
	font-family: 'handwrite', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.font-pf
	font-family: 'PF-font', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.font-other
	font-family: 'all', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif