.font-handwrite
	font-family: 'Bradley Hand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.font-pf
	font-family: 'Impact', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.font-other
	font-family: 'Helvetica Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
